<div style="margin-bottom: 15px;">

<table class="table">
  <thead>
    <tr>
      <th scope="col">Key</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ref</td>
      <td><%= @refno %></td>
    </tr>

    <tr>
      <td>response_hash_verified</td>
      <td><%= @response_hash_verified %></td>
    </tr>

    <tr>
      <td>reverify</td>
      <td><%= @reverify %></td>
    </tr>

    <% params.each do |key, value| %>
    <tr>
      <td><%= key %></td>
      <td><%= value %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>